@import "tailwindcss";

/* custom color palette */
@theme {
    /* background */
    --color-background: #111111;
    --color-bg: #252422;
    --color-bg-surface: #403d39;
    --color-surface: #111413;
    --color-surface-2: #181b1a;
    --color-surface-3: #1d201f;
    --color-surface-active: #252827;

    --color-gray-900: #111111; /* border */

    /* text */
    --color-primary: #fffcf2 /*#f0e4c8*/;
    --color-text-secondary: #ccc5b9 /*#fae8bb #d4c49c*/;
    --color-text-label: #b0a47c;
    --color-text-muted: #706656;

    /* Brand */
    --color-brand: #eb5e28;
    --color-brand-hover: #fcd34d;
    --color-brand-active: #fcd34d;

    /* status colors */
    --color-success: #22c55e;
    --color-success-bg: #4ade80;

    --color-danger: #450a0a /* #e7000b*/;
    --color-danger-bg: #a6121a;
    --color-danger-text: #ef5350;

    --color-warning: #fb923c;
    --color-warning-bg: #fb923c;

    --color-info: #38bdf8;
    --color-info-bg: #38bdf8;

    /* role colors */

    --color-role: #c084fc;

    --font-mono: "JetBrains Mono", monospace;
}

.dark {
    /* background */
    --color-background: #111111;
    --color-bg: #252422;
    --color-bg-surface: #403d39;
    --color-surface: #111413;
    --color-surface-2: #181b1a;
    --color-surface-3: #1d201f;
    --color-surface-active: #252827;

    --color-gray-900: #111111; /* border */

    /* text */
    --color-primary: #fffcf2 /*#f0e4c8*/;
    --color-text-secondary: #ccc5b9 /*#fae8bb #d4c49c*/;
    --color-text-label: #b0a47c;
    --color-text-muted: #706656;

    /* Brand */
    --color-brand: #eb5e28;
    --color-brand-hover: #fcd34d;
    --color-brand-active: #fcd34d;

    /* status colors */
    --color-success: #22c55e;
    --color-success-bg: #4ade80;

    --color-danger: #450a0a /* #e7000b*/;
    --color-danger-bg: #a6121a;
    --color-danger-text: #ef5350;

    --color-warning: #fb923c;
    --color-warning-bg: #fb923c;

    --color-info: #38bdf8;
    --color-info-bg: #38bdf8;

    /* role colors */

    --color-role: #c084fc;

    --font-mono: "JetBrains Mono", monospace;
}

@layer base {
    html {
        background-color: rgb(17, 17, 17);
        height: 100%;
    }
    body {
        @apply bg-background;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0 1000px theme("color-neutral-950") inset;
        -webkit-text-fill-color: theme("colors.text-secondary");
        transition: background-color 5000s ease-in-out 0s;
    }
}

@layer utilities {
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-4px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @theme {
        --animate-fadeIn: fadeIn 0.15s ease-out;
    }
}

.reveal {
    opacity: 0%;
    transform: translateY(20px);
    transition:
        opacity 0.7s ease,
        transform 0.7s ease;
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0);
}

* {
    /* outline: 1px solid rgb(255, 0, 0, 0.5); */
}

/* --color-text: #fffcf2; */
